<!DOCTYPE html>
<html>
<head>
    <title>Fin2B</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="../public/stylesheets/sweetalert.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../public/javascripts/sweetalert-dev.js"></script>
    <script src="../public/javascripts/default.js" type="text/javascript"></script>
    <script type="text/javascript">
        function remove(){
            document.getElementById("deleteForm").submit();
        }
    </script>
</head>
<body>
    <h2>{{post.title}}</h2>
    <div>{{post.body}}</div>
    <div>{{post.userId}}</div>
    <div>{{post.postId}}</div>
    <div>
        <a href="/posts/update?postId={{post.postId}}">수정</a>
        <a href='javascript:remove()'>삭제</a>
    </div>
<form id="deleteForm" action="/posts/delete" method="post">
    <input type="hidden" name="postId" value="{{post.postId}}"/>
</form>
</body>
</html>
